@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Exo:500,900);

/* HIDDEN */
/*
.mobileTitle {
	display: none;
}
*/

body {
	direction: ltr;
  font-weight: normal;
  font-size: 15px;
	line-height: 1.28;
	text-align: left;
	-webkit-font-smoothing: antialiased;
}

*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}


#main .feed-icon img {
	min-width: auto;
	max-width: auto;
	height: auto;
	width: auto;
}

.region-featured img {
	display: block;
}


/* FONTS */
body {
	font-family: 'Droid Sans', sans-serif;
}

h1, h2, .register-now, #site-name {
	font-family: 'Exo', sans-serif;
}


/* 
COLORS 
  blue = #3298d7
  green = #55a40e
  red = #d63105
*/
body {
	color: #373B41;
}

a, #footer-nav #main-menu li a, #footer-wrapper ul.menu a {
	color: #285e88;
	text-decoration: none;
}
	a:hover {
		text-decoration: none;

	}
	a.inline-link {
		background: #e45e5d;
		color: #fff;
		display: inline-block;
		padding: 0 10px;
	}

.form-submit, #main-menu li a, #site-name a {
	color: #fff;
}

button, input, textarea, .contact-intro {
	color: #555;
}

.heart {
	color: #f4809b;
}


/* BACKGROUND COLORS */
#page {
	background: #f7f7f7;
}

#header {
/* 	background: transparent url(../images/bg-header.png) repeat scroll 0 bottom; */
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.2); /* outer glow */
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.2); /* outer glow */
	box-shadow: 0 0 5px rgba(0,0,0,.2); /* outer glow */
}

#header, h2.block-title, .register-now a, ul.nice-menu-down ul a:hover {
	background: #285e88; /* prev blue: #3298d7 */
}

#main-menu li a.active {
	color: #fff;
	font-weight: bold;
}

#main-sidebar {
	background: none;
}

.form-submit {
	background: #285e88; /* blue */
	border: none;
	border-bottom: 3px solid #1a3c56; /* Darker blue */
}
.form-submit:hover {
	background: #2f6d9d; /* lighter blue */
}


#footer-wrapper {
	background: #ededed;
}


/* BORDERS */
button, input, textarea {
	border: none;
	border: 1px solid #ccc;
}

textarea {
	border: 1px solid #ccc;
}


/* HEADER MENU */
#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}

html body.admin-menu #header {
	margin-top: 29px !important; /* This pushes the site down when the admin_menu is overlapping the header */
}

.region-header {
	height: 60px;
	clear: none;
}

#main-menu {
	margin: 0;
	padding: 0;
	float: right;
}

#main-menu {
	display: none; /* Will remove, using Nice menus now */
}

#main-menu li, #main-menu li.leaf, #main-menu li a {
	display: block;
	float: left;
	list-style: none;
	line-height: 60px;
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}

#main-menu li a {
	padding: 0 10px;
}

#main-menu li a.active, .node-type-work #main-menu li.menu-1513 a {
	text-decoration: none;
	color: #d6eaf7;
}

#site-name {
	text-transform: uppercase;
}


/* USER MENU */
#block-system-user-menu {
	position: absolute;
	top: 85px;
	right: 4%;
	font-size: 0.9em;
	z-index: 10;
}

#block-system-user-menu ul.menu, #block-system-user-menu ul.menu li {
	margin: 0;
	padding: 0;
}

#block-system-user-menu ul.menu li {
	list-style: none;
	float: left;
	display: block;
	margin-left: 15px;
	font-size: 0.9em;
}


/* FONT STYLES */
h1, h2, h3, h4, h5, h6 {
	line-height: 1.1em;
	margin: 5px 0 10px;
}

h1#page-title {
	margin-bottom: 20px;
	text-transform: none;
	margin-top: -5px;
	font-size: 36px;
}

h2.title-inspiration, .node-type-blog h1#page-title {
	font-size: 24px;
	font-style: italic;
	padding-right: 10px;
}

.field-name-body h2.about-name {
	font-size: 20px;
	margin: 0;
}

#main p, #main ol, #main ul {
	line-height: 1.5em;
	margin: 0 0 1.5em;
}

.section-title {
	font-size: 20px;
	font-style: italic;
	margin: 0 0 20px;
}

#footer-nav, .footer-right, #footer-wrapper ul.menu {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
}

.footer-copy {
	clear: both;
	font-size: 11px;
	margin: 10px 0;
}


/* LAYOUT // RESPONSIVE OVERRIDES */
.block {
	position: relative;
}

#page, .region-bottom {
	max-width: none;
	overflow: hidden;
}

#header, #content, #aside, #sidebar-first, #sidebar-second, #footer-nav, .region-sidebar-first, .region-sidebar-second, #footer, #footer-wrapper ul.menu {
	padding: 0;
	margin: 0;
}

#main-wrapper {
	width: 100%;
	z-index: 1;
	padding-top: 60px; /* Lots of padding at the top of inner pages to account for the fixed menu */
}

.front #main-wrapper {
	padding: 30px 20px 10px;
}

.front #main .block {
	float: left;
	margin: 0 1% 2%;
	width: 31.33333333%;
	padding: 15px;
	height: 430px;
}

.front #main .block h2.block-title {
	margin: -15px -15px 15px;
}

#main .block div.content, .page-program .panel-pane .view-content {
	padding: 15px;
	overflow: hidden;
}

.page-program .panel-pane .view-header {
	padding: 0;
}

#block-block-10 .register-now {
	margin: 20px auto;
}

.front #main #block-block-6 {
	float: none;
	height: auto;
	width: 98%;
	min-height: inherit;
	padding: 0;
}

.not-front #main,
.maintenance-page #main {
	padding: 60px 0;
}

.not-front #content {
	float: left;
	width: 66.5%;
	padding: 0 6% 0 0;
}

.not-front #aside {
	float: right;
	width: 33.5%;
	margin: 0 0 30px;
}

.section-sponsor #content,
.section-sponsors #content,
.section-sponsors2 #content {
	float: none;
	width: 100%;
	padding: 0;
}
.section-sponsor #aside {
	display: none;
}

.node-type-sponsor.section-sponsor #aside {
	display: block;
}


/* Footer menu / Nav */
#footer-wrapper {
	padding: 20px 0 10px;
	overflow: hidden;
}

#footer-nav, #block-menu-menu-footer-menu {
	float: left;
	overflow: hidden;
	margin: 0 0 20px;
}

#footer-nav #main-menu {
	float: none;
}

#footer-nav #main-menu li, #footer-nav #main-menu li.leaf, #footer-nav #main-menu li a, #footer-wrapper ul.menu a {
	background: none;
	line-height: 15px;
	margin: 0 0 7px 0;
}

#footer-wrapper ul.menu li {
	float: left;
	margin: 0 10px 0 0;
	list-style: none;
}

#footer-nav #main-menu li a, #footer-wrapper ul.menu a {
	padding: 0 20px 0 0;
}


/* HEADER */
.region-header .block-block {
	float: left;
}

#logo img {
	margin: 5px 10px 0 0;
	max-height: 52px;
	max-width: 100%;
}

#secondary-menu {
	margin: 0;
	line-height: 40px;
}


/* SIDEBARS FIRST */
.region-sidebar-first, .region-sidebar-second {
	float: left;
	width: 20%;
	overflow: hidden;
	padding-top: 60px;
	-moz-box-shadow: inset -2px 0 2px #06253e;
	-webkit-box-shadow: inset -2px 0 2px #06253e;
	box-shadow: inset -2px 0 2px #06253e;
	background-color: #06253e;
	bottom: 0;
	color: #eee;
	font-size: 13px;
	margin-bottom: -99999px;
	padding-bottom: 99999px;
}

.region-sidebar-second {
	float: right;
}

.sidebar-first .region-featured, .sidebar-first #main-wrapper, .sidebar-first #footer-wrapper {
	float: right;
	width: 80%;
}

.region-sidebar-first h2.block-title, .region-sidebar-second h2.block-title {
	color: #fff;
	padding: 0 0 5px;
	margin: 0;
	font-size: 11px;
	background: none;
	font-weight: bold;
	font-family: Arial;
	letter-spacing: 1px;
}

.region-sidebar-first div.view-header h2 a, .region-sidebar-second div.view-header h2 a {
	color: #f9f9f9;
}

.region-sidebar-first div.view-header h2 a:hover, .region-sidebar-second div.view-header h2 a:hover {
	color: white;
}

.region-sidebar-first h3, .region-sidebar-first h4, .region-sidebar-second h3, .region-sidebar-second h4 {
	font-size: 13px;
	margin: 0 0 5px;
}

.region-sidebar-first .block, .region-sidebar-second .block {
	background: transparent;
	clear: both;
	margin: 0;
	padding: 15px 15px 10px;
	overflow: hidden;
	border-bottom: 1px solid #072136;
	box-shadow: 0 1px 0px #0c2a42;
	color: #bfbfbf;
}
.region-sidebar-first .block:hover, .region-sidebar-second .block:hover {
	background-color: #0a1e2c;
}
.region-sidebar-first .block a, .region-sidebar-second .block a {
	color: #bfbfbf;
}

.sidebar-first #main {
	width: 92%;
}

.front.sidebar-first #main {
	width: 100%;
}

.item-list ul,
.sidebar ul.menu {
	margin: 0;
	padding: 0;
}

.sidebar-first .region-sidebar-first ul.menu li, .sidebar-second .region-sidebar-second ul.menu li, .two-sidebars .region-sidebar-first ul.menu li, .two-sidebars .region-sidebar-second ul.menu li {
	font-size: 130%;
	line-height: 1.5em;
	font-weight: bold;
	list-style: none;
	margin: 3px 0;
	padding: 0;
	display: block;
	float: left;
	clear: both;
}

#block-user-login .item-list ul li {
	margin: 0;
	list-style: none;
	font-size: 85%;
}

#user-login-form .item-list ul {
	margin: 0;
	padding: 0;
}


/* RESPONSIVE STUFF */
#main, #header .section, #footer-wrapper-inner {
	margin: 0 auto;
	width: 86%;
	max-width: 1100px;
}

#footer-wrapper-inner {
	padding: 0 1%;
}

.sidebar-first #header .section, .two-sidebars #header .section {
	width: 100%;
	padding: 0 60px 0 10px;
	max-width: inherit;
}

.sidebar-first #footer-wrapper-inner, .two-sidebars #footer-wrapper-inner {
	margin: 0 auto;
	padding: 0 1%;
	width: 92%;
}


/* MAIN */
#main {
	padding: 20px 0;
}

#content, #aside, #main {
	padding: 0;
}


/* FORMS */
button, input, textarea {
	background: transparent;
	padding: 4px;
}

.form-submit {
	padding: 10px 45px;
	margin: 0 10px 0 0;
}

.form-submit, #header-secondary a {
	height: auto;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
}

form {
	padding: 0;
}

form, button, input, textarea, .password-parent, .confirm-parent {
	max-width: 100%;
}

textarea {
	height: auto;
}

form.webform-client-form input[type="text"],
form.webform-client-form input[type="email"] {
	height: 37px;
}

form.webform-client-form input[type="text"],
form.webform-client-form input[type="email"],
form.webform-client-form textarea {
	width: 100%;
	font-weight: 300;
	font-size: 20px;
}

form.webform-client-form textarea {
	margin: 50px 0 0;
}

form.webform-client-form .form-item {
	margin: 0 0 15px;
}

form.webform-client-form .form-submit {
	float: right;
	margin: 0;
}

.contact-intro {
	font-size: 10px;
	margin: 35px 0 5px;
	padding: 0;
	text-transform: uppercase;
	font-weight: normal;
}

div.vertical-tabs {
	margin: 1em 0 1em 0;
}

/* Animated throbber */
html.js input.form-autocomplete {
  background-position: 100% 7px; /* LTR */
}
html.js input.throbbing {
  background-position: 100% -13px; /* LTR */
}


/* General views styles */

.views-row {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	overflow: hidden;
}

div.views-field-edit-node {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 0.8em;
}

.view-header {
	margin: 0;
	padding: 0 0 20px;
	width: 100%;
	clear: both;
	overflow: hidden;
}

.view-empty {
	padding: 20px 0;
}

.submitted {
	font-size: 12px;
	margin: 0 0 15px;
	text-transform: uppercase;
}


/* Opacity hover transitions */
a {
	-webkit-opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
  opacity: 1;

  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
	a:hover {
		-webkit-opacity: 0.9;
		-moz-opacity: 0.9;
		filter:alpha(opacity=90);
	  opacity: 0.9;
	}


/* Mobile menu START */
#wrap {
	-webkit-transition: left .3s ease-out;
  -moz-transition: left .3s ease-out;
  -ms-transition: left .3s ease-out;
  -o-transition: left .3s ease-out;
  transition: left .3s ease-out;
  background-color: #fff;
}

#min-menu {
	display: none;
	float: right;
	margin: 21px 0 0 0;
}

#min-menu a {
	background: url(../images/responsive-menu.png) scroll no-repeat 0 0 transparent;
	background-size: 25px 20px;
	line-height: 60px;
	display: block;
	width: 25px;
	height: 20px;
	text-indent: -99999px;
}

#wrap {
	display: block;
	position: absolute;
	top: 0;
	left: -16em;
	width: 16em;
	background: #1f1f1f;
	height: 3000px;
	overflow: hidden;
	padding-top: 0;
	z-index: 1000;
}

.sideslide #wrap {
	left: 0;
}

.mobileTitle {
	line-height: 60px;
	font-size: 20px;
	font-weight: 700;
}

#wrap .mobileTitle a {
	padding: 15px;
	color: #fff;
}

#wrap ul.menu {
	margin: 0;
	padding: 0;
}

#wrap ul.menu li {
	list-style: none;
	display: block;
}

#wrap ul.menu li a {
	display: block;
	color: #fff;
	padding: 0 0 0 15px;
	border-bottom: 1px solid #1B1B1B;
	border-top: 1px solid #252525;
	font-size: 15px;
	font-weight: 200;
	line-height: 40px;
	height: 40px;
}

#wrap ul.menu li a:hover, #wrap ul.menu li a.active {
	background: #181818;
}

#wrap ul.menu ul {
	display: block !important;
	visibility: visible !important;
	position: relative;
	top: auto;
	left: auto;
}

#wrap ul.menu ul a {
	padding-left: 30px;
	color: #bbb;
}

/* Mobile menu END */


/* Registrant Count */
#registrant-count {
	text-align: center;
	padding: 0.25em 0.5em;
	font-size: 1.25em;
}


/* Accomodations */

.view-accommodations .field-name-field-accomodation-image {
	float: left;
	width: 25%;
	margin: 1% 2% 1% 0;
	text-align: center;
}


/* Live Stream */

.region-live {
	float: right;
	width: 72%;
	margin: 80px 4% 1% 0;
}

.region-live .block.first {
	float: left;
	width: 66%;
	margin: 0 2% 0 0;
}

.region-live .block.last {
	float: right;
	width: 32%;
}

.region-live .block.last div.content {
	padding: 15px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

/* TWO SIDEBARS */

.two-sidebars #main, .two-sidebars #header .section, .two-sidebars #footer-wrapper-inner {
margin: 0 auto;
width: 100%;
max-width: 100%;
}

.two-sidebars .region-featured, .two-sidebars #main-wrapper {
width: 60%;
float: left;
margin: 0 20%;
}

.two-sidebars #main-wrapper {
	padding: 20px 10px 10px;
}

.two-sidebars #block-block-3 {
	margin: 60px 0 0;
}

.two-sidebars #main .block {
width: 48%;
}

.two-sidebars #footer-wrapper {
	padding: 20px;
	overflow: hidden;
	clear: both;
	width: 60%;
	float: left;
	margin: 0 20%;
}

.two-sidebars #footer-nav, .two-sidebars #block-menu-menu-footer-menu {
	float: left;
	overflow: hidden;
	margin: 0;
}


/* TWITTER BLOCK and minor front page block cleanup */

#twitter-widget-0 {
	width: 100% !important;
}

.front #aside .block-block p {
	padding: 0;
	font-size: 0.9em;
}
