/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */

@media print {


/* underline all links */
a:link,
a:visited {
  text-decoration: underline !important;
}

/* Don't underline header */
#site-name a:link,
#site-name a:visited {
  text-decoration: none !important;
}

/* Add visible URL after links. */
#content a[href]:after {
  content: " (" attr(href) ")";
  font-weight: normal;
}

/* Only display useful links. */
#content a[href^="javascript:"]:after,
#content a[href^="#"]:after {
  content: "";
}

/* Add visible title after abbreviations. */
#content abbr[title]:after {
  content: " (" attr(title) ")";
}


/* Un-float the content */
#content,
#content .section {
  float: none;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

/* Turn off any background colors or images */
body,
#page-wrapper,
#page,
#main-wrapper,
#main,
#content,
#content .section {
  color: #000;
  background-color: transparent !important;
  background-image: none !important;
}

/* Hide sidebars and nav elements */
#skip-to-nav,
#toolbar,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
.region-footer,
.breadcrumb,
div.tabs,
.action-links,
.links,
.book-navigation,
.forum-topic-navigation,
.pager,
.feed-icons {
  visibility: hidden;
  display: none;
}

/* If you un-comment the "page { overflow-y: hidden; }" ruleset, Firefox clips
   the content after the first page. */
#page-wrapper {
  overflow-y: visible;
}

} /* End @media print */
