/* Typography */
strike {
  color: #333;
  opacity: 0.8;
}

.reveal .reverse-p {
  margin-top: 1.5em;
  margin-bottom: 0;
}

ul.padded-li {
  li {
    margin-top: 0.325em;
    margin-bottom: 0.825em;
  }
}

/* Specific Slide Formatting */
#presenters {
  .presenter {
    width: 50%;
    float: left;
  }
}

.presenter--info__facts {
  text-align: left;
}

/* Layout Classes */
div[class*="l-"] {
  display: block;
  float: left;
}

.l-fifty {
  width: 50%;
}