/* Instagram & Sponsor blocks
----------------------------------------------- */
.instagram {
	overflow: hidden;
}

.instagram-placeholder, .view-sponsor-touts.view-display-id-block_2 li.views-row {
	float: left;
	padding: 1% 2%;
	width: 33.3333333%;
}

.view-sponsor-touts.view-display-id-block_2 td {
	text-align: center;
}

.view-sponsor-touts.view-display-id-block_2 img {
	max-height: 75px;
}

.last {
	margin-right: 0;
}

.instagram-placeholder img {
	max-width: 100%;
	height: auto;
}

.instagram-title {
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 10px;
}


/* Slimbox
----------------------------------------------- */
#lbOverlay {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	cursor: pointer;
}

#lbCenter,#lbBottomContainer {
	position: absolute;
	z-index: 9999;
	overflow: hidden;
	background-color: #fff;
}

.lbLoading {
	background: #fff url(loading.gif) no-repeat center;
}

#lbImage {
	position: absolute;
	left: 0;
	top: 0;
	border: 10px solid #fff;
	background-repeat: no-repeat;
}

#lbPrevLink,#lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#lbPrevLink {
	left: 0;
}

#lbPrevLink: hover {
	background: transparent url(prevlabel.gif) no-repeat 0 15%;
}

#lbNextLink {
	right: 0;
}

#lbNextLink: hover {
	background: transparent url(nextlabel.gif) no-repeat 100% 15%;
}

#lbBottom {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	color: #404040;
	line-height: 1.4em;
	text-align: left;
	border: 10px solid #fff;
	border-top-style: none;
}

#lbCloseLink {
	display: block;
	float: right;
	width: 66px;
	height: 22px;
	background: transparent url(closelabel.gif) no-repeat center;
	margin: 5px 0;
	outline: none;
}

#lbCaption,#lbNumber {
	margin-right: 71px;
}

#lbCaption {
	font-weight: 700;
}