/**
 * @file style sheet for Weight module.
 */

.weight-selector {
  display: inline;
  float: left;
  position: relative;
}

#node-admin-nodes td a {
  margin-right: 3px;
}

#weight-settings-form .form-radios, #weight-settings-form .form-radios .form-item {
  display: inline;
  margin-top: 0;
  margin-left: 2em;
}

#weight-settings-form  .form-text,
#weight-settings-form  .form-select,
#weight-settings-form .form-checkboxes .form-item,
#weight-settings-form .form-radios .form-item {
  margin-left: 1em;
}

#weight-settings-form .form-radios .form-item label {
}

#weight-settings-form .form-checkboxes .form-item label {
  width: 24%;
  float: left;
}

#weight-settings-form  .description {
  clear: both;
}

