//
// RTL companion for the html-reset.scss file.
//

@import "base";


//
// Lists
//
// We need to standardize the list item indentation.
//
ul,
ol {
  margin-right: 0;
  padding-left: 0;
  padding-right: 2em;
}

.item-list ul { // Drupal overrides
  padding: 0 2em 0 0;
}

dd {
  margin: 0 2em 0 0;
}


//
// Tables
//
// Drupal provides table styling which is only useful for its admin section
// forms, so we override this default CSS. (We set it back in forms.css.)
//
th {
  text-align: right;
}
